<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204436296304-33hj4614bb3h4lhr1rcsa5vif6k0perr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204436296304-33hj4614bb3h4lhr1rcsa5vif6k0perr</string>
	<key>API_KEY</key>
	<string>AIzaSyAiTVmHSUhIW7QQv1QHAylTEg0mDn33oE4</string>
	<key>GCM_SENDER_ID</key>
	<string>204436296304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crowdApp2</string>
	<key>PROJECT_ID</key>
	<string>crowdru-2</string>
	<key>STORAGE_BUCKET</key>
	<string>crowdru-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204436296304:ios:3d1c258d47c3d590311ab5</string>
	<key>DATABASE_URL</key>
	<string>https://crowdru-2-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>